<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />
    <%- include snippets/head.ejs %>
        <!-- PAGE TITLE HERE -->
        <title>ACIV | Không tìm thấy
        </title>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/vi.js"></script>
</head>

<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1222440474582698">
    </div>
    <div class="page-wraper">

        <!-- HEADER START -->
        <%- include snippets/header.ejs %>
            <!-- HEADER END -->

            <!-- CONTENT START -->
            <div class="page-content ">
                <!-- INNER PAGE BANNER -->
                <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(https://i.imgur.com/ip3IdC8.jpg);">
                    <div class="overlay-main bg-black opacity-07"></div>
                    <div class="container">
                        <div class="wt-bnr-inr-entry">
                            <div class="banner-title-outer">
                                <div class="banner-title-name">
                                    <h2 class="text-white">
                                        Không tìm thấy trang
                                    </h2>
                                </div>
                            </div>
                            <!-- BREADCRUMB ROW -->



                            <!-- BREADCRUMB ROW END -->
                        </div>
                    </div>
                </div>
                <!-- INNER PAGE BANNER END -->

                <!-- SECTION CONTENT START -->
                <div class="section-full small-device  p-tb80">
                    <div class="container">

                        <!-- BLOG START -->

                        <div class="section-full">

                            <!-- TITLE START -->
                            <!-- <div class="section-head text-left">
                                <h2 class="m-b5">Bài viết của trang</h2>
                            </div> -->
                            <!-- TITLE END -->
                            <script>
                                window.onload = function () {
                                    getPosts()
                                }

                                async function getPosts() {
                                    const postData = await fetch(`https://server.pega.tech/api/v1/post?fields=["$all"]&limit=3`, {
                                        headers: {
                                            app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                                        }
                                    }).then(res => { return res.json() })
                                    postData.results.objects.rows.forEach(post => {
                                        const date = moment(post.createdAt).format("DD/MM/YYYY")
                                        $('#popular-posts').append(`
                                            <div class="col-md-4 col-sm-6 m-b50" >
                                        <div class="blog-grid-1">
                                            <div class="wt-img-effect " style="width:300px;height:200px">
                                                <a href="/bai-viet/${post.slug}"><img src="${post.thumb}" alt=""></a>
                                            </div>
                                            <div class="wt-post-info  bg-white p-t30">
                                                <div class="wt-post-title ">
                                                    <h4 class="post-title"><a href="/bai-viet/${post.slug}" class=" font-weight-600 m-t0">${post.title}</a></h4>
                                                </div>
                                                <div class="wt-post-meta ">
                                                    <ul>
                                                        <li class="post-date"><strong>${date}</strong> </li>
                                                        <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                                    </ul>
                                                </div>                                     
                                                <div class="wt-post-text">
                                                    <p>${post.shortDescription}</p> 
                                                </div>
                                                <a href="/bai-viet/${post.slug}" class="btn-half site-button site-btn-effect button-md"><span>Xem thêm</span></a>
                                                <div class="wt-post-bottom  bdr-t-1 bdr-gray bdr-solid">
                                                    <ul>
                                                        <li class="post-like"><i class="fa fa-heart-o"></i><a href="javascript:void(0);">5 <span>Likes</span></a> </li>
                                                        <li class="post-comment"><i class="fa fa fa-comments"></i><a href="javascript:void(0);">10 <span>Comment</span></a> </li>                                                
                                                    </ul>                                    
                                                </div>                                    
                                            </div>
                                        </div>
                                    </div>
                                                    `)

                                    });

                                }
                            </script>
                            <!-- IMAGE CAROUSEL START -->
                            <div class="section-content">
                                <div class="row" id="popular-posts">



                                </div>
                            </div>


                        </div>
                        <!-- OUR BLOG END -->

                        <div class="clear" id="comment-list">

                        </div>
                        <!-- BLOG END -->

                    </div>
                </div>
                <!-- SECTION CONTENT END -->

            </div>
            <!-- CONTENT END -->

            <!-- FOOTER START -->
            <%- include snippets/footer.ejs %>
                <!-- FOOTER END -->

                <!-- BUTTON TOP START -->
                <button class="scroltop">
                    <span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
                </button>

    </div>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-box-loading"></div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->

    <!-- JAVASCRIPT  FILES ========================================= -->
    <%- include snippets/script.ejs %>

</body>

</html>