<!DOCTYPE html>

<html lang="en">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />
    <%- include snippets/head.ejs %>
        <!-- PAGE TITLE HERE -->
        <title>ACIV | Giới thiệu</title>
</head>

<body class="footer-fixed">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1222440474582698">
    </div>

    <div class="page-wraper">

        <!-- HEADER START -->
        <%- include snippets/header.ejs %>
            <!-- HEADER END -->

            <!-- CONTENT START -->
            <div class="page-content">

                <!-- INNER PAGE BANNER -->
                <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(https://i.imgur.com/ip3IdC8.jpg);">
                    <div class="overlay-main bg-black opacity-07"></div>
                    <div class="container">
                        <div class="wt-bnr-inr-entry">
                            <div class="banner-title-outer">
                                <div class="banner-title-name">
                                    <h2 class="text-white">Về chúng tôi</h2>
                                </div>
                            </div>
                            <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li>
                                        <a href="javascript:void(0);">Trang chủ</a>
                                    </li>
                                    <li>Giới thiệu</li>
                                </ul>
                            </div>

                            <!-- BREADCRUMB ROW END -->
                        </div>
                    </div>
                </div>
                <!-- INNER PAGE BANNER END -->

                <!-- WELCOME SECTION START -->
                <div class="section-full p-tb80 bg-white">
                    <div class="container">
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-7 col-sm-12">
                                    <div class="welcome-carousel-outer m-b60">
                                        <div class="welcome-bg-block clearfix">
                                            <div class="welcome-carousel-1 ">
                                                <div class="owl-carousel home-carousel-1 owl-btn-bottom-left">
                                                    <!-- COLUMNS 1 -->
                                                    <div class="item">
                                                        <div class="ow-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="http://thewebmax.com/intoria/images/welcome-slider/1.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- COLUMNS 2 -->
                                                    <div class="item">
                                                        <div class="ow-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="http://thewebmax.com/intoria/images/welcome-slider/2.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- COLUMNS 3 -->
                                                    <div class="item">
                                                        <div class="owl-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="http://thewebmax.com/intoria/images/welcome-slider/3.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- COLUMNS 4 -->
                                                    <div class="item">
                                                        <div class="ow-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="http://thewebmax.com/intoria/images/welcome-slider/4.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- COLUMNS 5 -->
                                                    <div class="item">
                                                        <div class="ow-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="http://thewebmax.com/intoria/images/welcome-slider/5.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-12">
                                    <!-- TITLE START -->
                                    <div class="section-head">
                                        <div class="wt-separator-outer separator-left">
                                            <div class="wt-separator">
                                                <span class="text-primary text-uppercase sep-line-one ">Chào mừng tới ACIV</span>
                                            </div>
                                        </div>
                                        <h2>Chúng tôi bắt đầu từ năm 2018</h2>
                                    </div>
                                    <!-- TITLE END -->
                                    <p>Công ty TNHH MTV thiết kế và xây dựng ACIV là công ty chuyên về lĩnh vực thiết kế- thi
                                        công nội thất, xây dựng công trình dân dụng. Với đội ngũ nhân viên trẻ, đầy nhiệt
                                        tình và sáng tạo, chúng tôi mong muốn mang lại những giá trị đích thực cho khách
                                        hàng và đối tác của chúng tôi.</p>
                                    <p>Với đội ngũ nhân viên trẻ, đầy nhiệt tình và sáng tạo, chúng tôi mong muốn mang lại những
                                        giá trị đích thực cho khách hàng và đối tác của chúng tôi.</p>
                                    <a href="/bai-viet/gioi-thieu" class="site-button m-t15 m-b15">Xem thêm</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- WELCOME  SECTION END -->

                <!-- OUR TEAM START -->
                <!-- <div class="section-full small-device p-t80 p-b50 bg-white">
				<div class="container">
                

                    <div class="section-head text-center">
                        <div class="wt-separator-outer separator-center">
                            <div class="wt-separator">
                                <span class="text-primary text-uppercase sep-line-one ">Our Best Team</span>
                            </div>
                        </div>
                        <h2>Our Team</h2>
                    </div>
   
                    <div class="row">
                        	<div class="col-md-4 col-sm-4 m-b30">
                            	<div class="our-team-one">
                                      <div class="team-bg">
                                          <h4>Jack Semper</h4>
                                      </div>
                                       <div class="team-img">
                                      		<img src="http://thewebmax.com/intoria/images/our-team5/pic1.jpg" alt="" />
                                        	<ul class="list-unstyled">
                                                <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                            </ul>
                                       </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 m-b30">
                            	<div class="our-team-one">
                                      <div class="team-bg">
                                        <h4>Philip Wilson</h4>
                                      </div>
                                       <div class="team-img">
                                      		<img src="http://thewebmax.com/intoria/images/our-team5/pic2.jpg" alt="" />
                                        	<ul class="list-unstyled">
                                            <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        </ul>
                                       </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 m-b30">
                            	<div class="our-team-one">
                                      <div class="team-bg">
                                        <h4>Amanda Rich</h4>
                                      </div>
                                       <div class="team-img">
                                      		<img src="http://thewebmax.com/intoria/images/our-team5/pic3.jpg" alt="" />
                                        	<ul class="list-unstyled">
                                            <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        </ul>
                                       </div>
                                </div>
                            </div>
                            
                        </div>
                </div>
                
             </div>    -->
                <!-- OUR TEAM END -->

                <!-- WHAT WE DO SECTION START -->
                <div class="section-full p-t80 p-b50 bg-gray">
                    <div class="container">
                        <!-- TITLE START -->
                        <div class="section-head text-center">
                            <div class="wt-separator-outer separator-center">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">Điều bạn cần</span>
                                </div>
                            </div>
                            <h2>Dịch vụ của chúng tôi</h2>
                        </div>
                        <!-- TITLE END -->
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect  v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50 bg-white">
                                            <div class="icon-lg text-primary m-b20">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-sketch"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Kế hoạch</h4>
                                                <p>Kế hoạch phát triển dự án</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Xem thêm">Xem thêm</a> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-white">
                                            <div class="icon-lg text-primary m-b20">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-window"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Nội thất</h4>
                                                <p>Thiết kế thi công nội thất</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Xem thêm">Xem thêm</a> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-white">
                                            <div class="icon-lg text-primary m-b20">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-window-5"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Ngoại thất</h4>
                                                <p>Thiết kế thi công ngoại thất</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Xem thêm">Xem thêm</a> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50 bg-white">
                                            <div class="icon-lg text-primary m-b20">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-plant"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Trang trí</h4>
                                                <p>Trang trí nhà cửa</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Xem thêm">Xem thêm</a> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- WHAT WE DO  SECTION END -->
                <script>
                    window.onload = function () {
                        getTesmonial()
                    }
                    async function getTesmonial() {
                        const tesmonialData = await fetch(`https://server.pega.tech/api/v1/tesmonial?fields=["$all"]`, {
                            headers: {
                                app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                            }
                        }).then(res => { return res.json() })
                        tesmonialData.results.objects.rows.forEach(tesmonial => {

                            $('.testimonial-home').owlCarousel('add', `<div class="item">
                                            <div class="testimonial-5">

                                                <div class="testimonial-text">
                                                    <div class="testimonial-paragraph">
                                                        <span class="fa fa-quote-left text-primary"></span>
                                                        <p>${tesmonial.content}</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="testimonial-detail clearfix">
                                                        <strong class="testimonial-name text-black">${tesmonial.name}</strong>
                                                        <span class="testimonial-position p-t5">${tesmonial.position}</span>
                                                    </div>
                                                    <div class="testimonial-pic-block">
                                                        <div class="testimonial-pic">
                                                            <img src="${tesmonial.thumb}" width="132" height="132" alt="" style="-webkit-filter: grayscale(100%);filter: grayscale(100%);">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>`).owlCarousel('update');

                        });
                    }



                </script>

                <!-- TESTIMONIAL SECTION START -->
                <div class="section-full small-device  p-t80 p-b80 bg-white bg-repeat" style="background-image:url(http://thewebmax.com/intoria/images/background/ptn-1.png)">
                    <div class="container">
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-7 m-b30">
                                    <div class="owl-carousel testimonial-home owl-btn-top-right">
                                        <!-- <div class="item">
                                            <div class="testimonial-5">

                                                <div class="testimonial-text">
                                                    <div class="testimonial-paragraph">
                                                        <span class="fa fa-quote-left text-primary"></span>
                                                        <p>ACIV thiết kế biệt thự cho tôi rất đẹp, nhiệt tình, chuyên nghiệp</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="testimonial-detail clearfix">
                                                        <strong class="testimonial-name text-black">Vũ Hoài Nam</strong>
                                                        <span class="testimonial-position p-t5">Giám đốc</span>
                                                    </div>
                                                    <div class="testimonial-pic-block">
                                                        <div class="testimonial-pic">
                                                            <img src="http://thewebmax.com/intoria/images/testimonials/pic1.jpg" width="132" height="132" alt="">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="testimonial-5">

                                                <div class="testimonial-text">
                                                    <div class="testimonial-paragraph">
                                                        <span class="fa fa-quote-left text-primary"></span>
                                                        <p>There are many variations of passages of Lorem Ipsum available, but
                                                            the majority have suffered alteration in some form, by injected
                                                            humour, or rand omised words which don't look even slightly believable.</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="testimonial-detail clearfix">
                                                        <strong class="testimonial-name text-black">Justine Fiber</strong>
                                                        <span class="testimonial-position p-t5">Founder</span>
                                                    </div>
                                                    <div class="testimonial-pic-block">
                                                        <div class="testimonial-pic">
                                                            <img src="http://thewebmax.com/intoria/images/testimonials/pic2.jpg" width="132" height="132" alt="">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="testimonial-5">

                                                <div class="testimonial-text">
                                                    <div class="testimonial-paragraph">
                                                        <span class="fa fa-quote-left text-primary"></span>
                                                        <p>There are many variations of passages of Lorem Ipsum available, but
                                                            the majority have suffered alteration in some form, by injected
                                                            humour, or rand omised words which don't look even slightly believable.</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="testimonial-detail clearfix">
                                                        <strong class="testimonial-name text-black">Justine Fiber</strong>
                                                        <span class="testimonial-position p-t5">Founder</span>
                                                    </div>
                                                    <div class="testimonial-pic-block">
                                                        <div class="testimonial-pic">
                                                            <img src="http://thewebmax.com/intoria/images/testimonials/pic3.jpg" width="132" height="132" alt="">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="counter-section-one">
                                        <div class="counter-sec-top">
                                            <div class="p-a20 text-black wt-icon-box-wraper center">
                                                <!-- <div class="counter font-40 m-b5">50</div> -->
                                                <h4>Cảm hứng từ con tim</h4>
                                            </div>
                                        </div>
                                        <div class="counter-sec-bottom">
                                            <div class="p-a20 text-black wt-icon-box-wraper center">
                                                <!-- <div class="counter font-40 m-b5">10</div> -->
                                                <h4>Chuyên nghiệp - Tận tâm - Nhiệt tình</h4>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TESTIMONIAL SECTION END -->



            </div>
            <!-- CONTENT END -->

            <!-- FOOTER START -->
            <%- include snippets/footer.ejs %>
                <!-- FOOTER END -->

                <!-- BUTTON TOP START -->
                <button class="scroltop">
                    <span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
                </button>

    </div>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-box-loading"></div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->

    <!-- JAVASCRIPT  FILES ========================================= -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- JQUERY.MIN JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- BOOTSTRAP.MIN JS -->

    <script src="js/magnific-popup.min.js"></script>
    <!-- MAGNIFIC-POPUP JS -->

    <script src="js/waypoints.min.js"></script>
    <!-- WAYPOINTS JS -->
    <script src="js/counterup.min.js"></script>
    <!-- COUNTERUP JS -->
    <script src="js/waypoints-sticky.min.js"></script>
    <!-- COUNTERUP JS -->

    <script src="js/isotope.pkgd.min.js"></script>
    <!-- MASONRY  -->

    <script src="js/owl.carousel.min.js"></script>
    <!-- OWL  SLIDER  -->
    <script src="js/jquery.owl-filter.js"></script>

    <script src="js/stellar.min.js"></script>
    <!-- PARALLAX BG IMAGE   -->

    <script src="js/custom.js"></script>
    <!-- CUSTOM FUCTIONS  -->
    <script src="js/shortcode.js"></script>
    <!-- SHORTCODE FUCTIONS  -->
    <script src="js/switcher.js"></script>
    <!-- SHORTCODE FUCTIONS  -->



</body>

</html>