<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />

    <%- include snippets/head.ejs %>
        <!-- PAGE TITLE HERE -->
        <title>ACIV | Bài viết</title>
        <script src="js/jquery-1.12.4.min.js"></script>
</head>

<body id="bg">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1222440474582698">
    </div>

    <div class="page-wraper">

        <!-- HEADER START -->
        <%- include snippets/header.ejs %>
            <!-- HEADER END -->

            <!-- CONTENT START -->
            <div class="page-content">
                <!-- INNER PAGE BANNER -->
                <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(https://i.imgur.com/o9vprQO.jpg);">
                    <div class="overlay-main bg-black opacity-07"></div>
                    <div class="container">
                        <div class="wt-bnr-inr-entry">
                            <div class="banner-title-outer">
                                <div class="banner-title-name">
                                    <h2 class="text-white">Bài viết</h2>
                                </div>
                            </div>
                            <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li>
                                        <a href="javascript:void(0);">Home</a>
                                    </li>
                                    <li>Bài viết</li>
                                </ul>
                            </div>

                            <!-- BREADCRUMB ROW END -->
                        </div>
                    </div>
                </div>
                <!-- INNER PAGE BANNER END -->

                <!-- SECTION CONTENT START -->
                <div class="section-full small-device p-t80 p-b30">
                    <div class="container">
                        <!-- PAGINATION START -->
                        <!-- <div class="filter-wrap p-b30 text-center">
                        <ul class="filter-navigation masonry-filter text-uppercase">
                                <li class="active"><a data-filter="*" data-hover="All" href="#">All</a></li>
                                <li><a data-filter=".cat-1" data-hover="Bathroom" href="javascript:;">Bathroom</a></li>
                                <li><a data-filter=".cat-4" data-hover="Spa" href="javascript:;">Spa</a></li>
                                <li><a data-filter=".cat-2" data-hover="Furniture" href="javascript:;">Furniture</a></li>
                                <li><a data-filter=".cat-3" data-hover="Decor" href="javascript:;">Decor</a></li>
                                <li><a data-filter=".cat-5" data-hover="Building" href="javascript:;">Building</a></li>
                                <li><a data-filter=".cat-6" data-hover="Living" href="javascript:;">Living </a></li>
                        </ul>
                    </div> -->
                        <!-- PAGINATION END -->
                    </div>

                    <!-- GALLERY CONTENT START -->
                    <div class="container">
                        <div class="portfolio-wrap mfp-gallery news-grid row clearfix">
                            <% postData.rows.forEach(function( post){ %>
                                <div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b50 blog-grid-1">
                                    <div class="wt-img-effect " style="width:360px;height:185px">
                                        <a href="/bai-viet/<%= post.slug %>">
                                            <img src="<%= post.thumb %>" alt="">
                                        </a>
                                    </div>
                                    <div class="wt-post-info  bg-white p-t30">

                                        <div class="wt-post-title ">
                                            <h4 class="post-title">
                                                <a href="/bai-viet/<%= post.slug %>" class=" font-weight-600 m-t0">
                                                    <%= post.title %>
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-date">
                                                    <strong>
                                                        <%= moment(post.createdAt).format("DD/MM/YYYY")%>
                                                    </strong>
                                                </li>
                                                <li class="post-author">
                                                    <i class="fa fa-user"></i>
                                                    <a href="javascript:void(0);">Viết bởi
                                                        <span>ACIV</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-text">
                                            <p>
                                                <%= post.shortDescription %>
                                            </p>
                                        </div>
                                        <a href="/bai-viet/<%= post.slug %>" class="btn-half site-button site-btn-effect button-md m-t5">
                                            <span>Chi tiết</span>
                                        </a>
                                        <!-- <div class="wt-post-bottom  bdr-t-1 bdr-gray bdr-solid">
                                                <ul>
                                                    <li class="post-like"><i class="fa fa-heart-o"></i><a href="javascript:void(0);">6 <span>Likes</span></a> </li>
                                                    <li class="post-comment"><i class="fa fa fa-comments"></i><a href="javascript:void(0);">23 <span>Comment</span></a> </li>                                                
                                                </ul>                                    
                                            </div>                                     -->
                                    </div>
                                </div>
                                <% }) %>


                        </div>
                        <ul class="pagination m-tb0" id="blog-pagination">
                        </ul>
                        <span id='variableJSON' hidden>
                            <%= JSON.stringify(postData.pagination); %>
                        </span>
                        <script>
                            const pagination = JSON.parse($('#variableJSON').text());
                            const count = Number("<%= postData.count %>")
                            if (Math.ceil(count / 10) === 1) {

                            } else {
                                if (pagination.prev_page > 0) {
                                    $("#blog-pagination").append(`
                                    <li>
                                        <a href="/du-an?page=${pagination.prev_page}">Trước</a>
                                    </li>`
                                    )
                                }
                                for (var i = 1; i <= Math.ceil(count / 10); i++) {
                                    $("#blog-pagination").append(`
                                        <li class="${pagination.current_page === i ? "active" : null}">
                                        <a href="/du-an?page=${i}">${i}</a>
                                        </li>`
                                    )
                                }
                                if (pagination.next_page <= Math.ceil(count / 10)) {
                                    $("#blog-pagination").append(`
                                    <li>
                                        <a href="/du-an?page=${pagination.next_page}">Tiếp</a>
                                    </li>`
                                    )
                                }
                            }
                        </script>
                    </div>

                    <!-- GALLERY CONTENT END -->

                </div>
                <!-- SECTION CONTENT END  -->

            </div>
            <!-- CONTENT END -->

            <!-- FOOTER START -->
            <%- include snippets/footer.ejs %>
                <!-- FOOTER END -->

                <!-- BUTTON TOP START -->
                <button class="scroltop">
                    <span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
                </button>

    </div>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-box-loading"></div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->
    <%- include snippets/script.ejs %>



</body>

</html>