<!DOCTYPE html>

<html lang="en">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />

    <%- include snippets/head.ejs %>
        <!-- PAGE TITLE HERE -->
        <title>ACIV | Liên hệ</title>
</head>

<body id="bg">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1222440474582698">
    </div>

    <div class="page-wraper">

        <!-- HEADER START -->
        <%- include snippets/header.ejs %>
            <!-- HEADER END -->

            <!-- CONTENT START -->
            <div class="page-content">

                <!-- INNER PAGE BANNER -->
                <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(https://i.imgur.com/ip3IdC8.jpg);">
                    <div class="overlay-main bg-black opacity-07"></div>
                    <div class="container">
                        <div class="wt-bnr-inr-entry">
                            <div class="banner-title-outer">
                                <div class="banner-title-name">
                                    <h2 class="text-white">Liên hệ với chúng tôi</h2>
                                </div>
                            </div>
                            <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li>
                                        <a href="javascript:void(0);">Trang chủ</a>
                                    </li>
                                    <li href="/lien-he">Liên hệ</li>
                                </ul>
                            </div>

                            <!-- BREADCRUMB ROW END -->
                        </div>
                    </div>
                </div>
                <!-- INNER PAGE BANNER END -->

                <!-- SECTION CONTENTG START -->
                <div class="section-full small-device  p-tb80">
                    <!-- LOCATION BLOCK-->
                    <!-- <div class="container">
                    <div class="gmap-outline m-b80">
                        <div id="gmap_canvas2" class="google-map"></div>
                    </div>
                </div> -->

                    <div class="section-content m-b50">
                        <div class="container">

                            <!-- TITLE START -->
                            <div class="section-head text-center">
                                <div class="wt-separator-outer separator-center">
                                    <div class="wt-separator">
                                        <span class="text-primary text-uppercase sep-line-one ">Tin tưởng và uy tín</span>
                                    </div>
                                </div>
                                <h2>Công ty TNHH MTV thiết kế và xây dựng ACIV</h2>
                            </div>
                            <!-- TITLE END -->
                            <div class="row">
                                <div class="col-md-4 col-sm-12 m-b30">
                                    <div class="wt-icon-box-wraper center p-lr30 p-tb50 bdr-1 bdr-gray">
                                        <div class="icon-md m-b10">
                                            <i class="flaticon-smartphone"></i>
                                        </div>
                                        <div class="icon-content">
                                            <h4>Số điện thoại</h4>
                                            <h5>
                                                <a href="tel:0977149977" target="_blank">0977141977</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 m-b30">
                                    <div class="wt-icon-box-wraper center p-lr30 p-tb50  block-shadow">
                                        <div class="icon-md  m-b10">
                                            <i class="flaticon-email"></i>
                                        </div>
                                        <div class="icon-content">
                                            <h4>Email</h4>
                                            <h5>
                                                <a href="mailto:aciv.ceo@gmail.com" target="_blank">aciv.ceo@gmail.com</a>
                                            </h5>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12 m-b30">
                                    <div class="wt-icon-box-wraper center p-lr30 p-tb50">
                                        <div class="icon-md	 m-b10">
                                            <i class="flaticon-placeholder"></i>
                                        </div>
                                        <div class="icon-content">
                                            <h4>Địa chỉ</h4>
                                            <h5>
                                                <a href="https://www.google.com/maps/place/247+%C4%90%C6%B0%E1%BB%9Dng+Ho%C3%A0i+Thanh,+B%E1%BA%AFc+M%E1%BB%B9+An,+Ng%C5%A9+H%C3%A0nh+S%C6%A1n,+%C4%90%C3%A0+N%E1%BA%B5ng+550000,+Vi%E1%BB%87t+Nam/@16.0428142,108.2369984,17z/data=!3m1!4b1!4m5!3m4!1s0x31421761ca909f25:0x6003a0e122c046e5!8m2!3d16.0428091!4d108.2391871"
                                                    target="_blank">247 - 249 Hoài Thanh - Quận Ngũ Hành Sơn - Tp Đà Nẵng</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- GOOGLE MAP & CONTACT FORM -->
                    <div class="section-content overlay-wraper ">
                        <div class="container">
                            <!-- TITLE START -->
                            <div class="section-head text-center">
                                <div class="wt-separator-outer separator-center">
                                    <div class="wt-separator">
                                        <span class="text-primary text-uppercase sep-line-one ">Liên hệ ngay</span>
                                    </div>
                                </div>
                                <h2>Gửi thông tin liên hệ</h2>
                            </div>
                            <!-- TITLE END -->
                            <form class="contact-form cons-contact-form">
                                <div class="contact-one">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input name="fullName" type="text" required class="form-control" placeholder="Họ tên" id="username">
                                                <span class="spin"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input name="phone" type="text" required class="form-control" placeholder="Số điện thoại" id="phone">
                                                <span class="spin"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <input name="email" type="text" class="form-control" required placeholder="Email" id="email">
                                                <span class="spin"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="body" rows="4" class="form-control " required placeholder="Lời nhắn" id="message"></textarea>
                                                <span class="spin"></span>
                                            </div>
                                        </div>
                                        <div class="text-left col-md-12">
                                            <button name="submit" type="submit" class="site-button site-btn-effect">
                                                Gửi
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <!-- SECTION CONTENT END -->

                </div>
                <!-- CONTENT END -->
            </div>
            <!-- FOOTER START -->
            <%- include snippets/footer.ejs %>
                <!-- FOOTER END -->

                <!-- BUTTON TOP START -->
                <button class="scroltop">
                    <span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
                </button>
    </div>



    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-box-loading"></div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->
    <%- include snippets/script.ejs %>




</body>

</html>