<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="Công ty TNHH MTV thiết kế và xây dựng ACIV là công ty chuyên về lĩnh vực thiết kế- thi
    công nội thất, xây dựng công trình dân dụng. Với đội ngũ nhân viên trẻ, đầy nhiệt
    tình và sáng tạo" />
    <meta name="title" content="Trang chủ ACIV" />
    <!-- FAVICONS ICON -->
    <link rel="icon" href="https://i.imgur.com/SAwgc7Q.jpg" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/SAwgc7Q.jpg" />

    <!-- PAGE TITLE HERE -->
    <title>ACIV | Trang chủ</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- [if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif] -->

    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/fontawesome/css/font-awesome.min.css" />


    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">

    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.min.css">
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/loader.min.css">
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/flaticon.min.css">
    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type="text/css" href="css/skin/skin-1.css">
    <!-- SIDE SWITCHER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="css/switcher.css">

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css">
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,800,800i,900" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Martel:200,300,400,600,700,800,900" rel="stylesheet"> -->

    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/vi.js"></script>
</head>

<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1222440474582698">
    </div>
    <div class="page-wraper">
        <!-- HEADER START -->
        <%- include snippets/header.ejs %>
            <!-- HEADER END -->
            <!-- CONTENT START -->
            <div class="page-content">
                <!-- SLIDER START -->
                <div id="rev_slider_26_1_wrapper" class="rev_slider_wrapper fullscreen-container bg-primary" data-alias="mask-showcase" data-source="gallery"
                    style="padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                    <div id="rev_slider_26_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-73" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                                data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://i.imgur.com/ip3IdC8.jpg"
                                data-rotate="0" data-saveperformance="off" data-title="" data-param1="1" data-param2="" data-param3=""
                                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                data-description="">
                                <img src="https://i.imgur.com/ip3IdC8.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10"
                                    class="rev-slidebg" data-no-retina alt="">
                                <!-- LAYER NR. 1 [ for overlay ] -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-73-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                                    data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off"
                                    data-responsive="off" data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYERS 1 border block-->
                                <div class="tp-caption rev-btn  tp-resizeme slider-block" id="slide-73-layer-1" data-x="['left','left','left','center']"
                                    data-hoffset="['0','100','60','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]" data-paddingright="[250,150,150,150]"
                                    data-paddingbottom="[250,250,250,200]" data-paddingleft="[250,150,150,150]" style="z-index: 8;">
                                    <div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div>
                                </div>
                                <!-- LAYER 2 button -->
                                <!-- <div class="tp-caption rev-btn  tp-resizeme" id="slide-73-layer-2" data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']" data-width="none"
                                    data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index:9; line-height:30px;">
                                    <a href="Javascript:;" class="site-button-secondry">Xem thêm</a>
                                </div> -->
                                <div class="tp-caption rev-btn  tp-resizeme bg-primary " id="slide-73-layer-3" data-x="['right','right','right','right']"
                                    data-hoffset="['870','570','370','870']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="full" data-height="full" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":0,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":0,"to":"y:[-0%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]" data-paddingright="[250,150,150,150]"
                                    data-paddingbottom="[250,250,250,200]" data-paddingleft="[250,150,150,150]" style="z-index: 6; width:6000px"></div>
                                <!-- LAYER 5 title-->
                                <div class="tp-caption   tp-resizeme slider-tag-line" id="slide-73-layer-5" data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                    data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[20,20,20,20]"
                                    data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase">
                                    ACIV Việt Nam </div>
                                <!-- LAYER 6  tag line-->
                                <div class="tp-caption   tp-resizeme" id="slide-73-layer-6" data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']" data-fontsize="['60','45','60','40']"
                                    data-lineheight="['70','60','70','50']" data-width="['700','650','620','380']" data-height="none"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                    data-textAlign="['left','left','left','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]"
                                    data-paddingbottom="[30,30,30,30]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: Arial,Helvetica Neue,Helvetica,sans-serif; ">ACIV
                                    <br>Thiết kế và xây dựng công trình</div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-74" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                                data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://i.imgur.com/o9vprQO.jpg"
                                data-rotate="0" data-saveperformance="off" data-title="" data-param1="2" data-param2="" data-param3=""
                                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                data-description="">
                                <img src="https://i.imgur.com/o9vprQO.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10"
                                    class="rev-slidebg" data-no-retina alt="">
                                <!-- LAYERS 1 border block-->
                                <div class="tp-caption rev-btn  tp-resizeme slider-block" id="slide-74-layer-1" data-x="['left','left','left','center']"
                                    data-hoffset="['0','100','60','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]" data-paddingright="[250,150,150,150]"
                                    data-paddingbottom="[250,250,250,200]" data-paddingleft="[250,150,150,150]" style="z-index: 8;">
                                    <div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div>
                                </div>
                                <!-- LAYER NR. 1 [ for overlay ] -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-74-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                                    data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off"
                                    data-responsive="off" data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYER 2 button -->
                                <!-- <div class="tp-caption rev-btn  tp-resizeme" id="slide-74-layer-2" data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']" data-width="none"
                                    data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index:9; line-height:30px;">
                                    <a href="Javascript:;" class="site-button-secondry">Xem thêm</a>
                                </div> -->
                                <div class="tp-caption rev-btn  tp-resizeme bg-primary" id="slide-74-layer-3 " data-x="['right','right','right','right']"
                                    data-hoffset="['870','570','370','870']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="full" data-height="full" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":0,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":0,"to":"y:[-0%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]" data-paddingright="[250,150,150,150]"
                                    data-paddingbottom="[250,250,250,200]" data-paddingleft="[250,150,150,150]" style="z-index: 6; width:6000px"></div>
                                <!-- LAYER 5 title-->
                                <div class="tp-caption   tp-resizeme slider-tag-line" id="slide-74-layer-5" data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                    data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[20,20,20,20]"
                                    data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase">
                                    ACIV Việt Nam </div>
                                <!-- LAYER 6  tag line-->
                                <div class="tp-caption   tp-resizeme" id="slide-74-layer-6" data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']" data-fontsize="['60','45','60','40']"
                                    data-lineheight="['70','60','70','50']" data-width="['700','650','620','380']" data-height="none"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                    data-textAlign="['left','left','left','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]"
                                    data-paddingbottom="[30,30,30,30]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: Arial,Helvetica Neue,Helvetica,sans-serif; ">Tận hưởng
                                    <br> vẻ đẹp nhà của bạn</div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-75" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                                data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://i.imgur.com/NzDe7D5.jpg"
                                data-rotate="0" data-saveperformance="off" data-title="" data-param1="3" data-param2="" data-param3=""
                                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                data-description="">
                                <img src="https://i.imgur.com/NzDe7D5.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10"
                                    class="rev-slidebg" data-no-retina alt="">
                                <!-- LAYER NR. 1 [ for overlay ] -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-75-layer-0" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                                    data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off"
                                    data-responsive="off" data-frames='[
                            {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                            {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                            ]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.1);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                                </div>
                                <!-- LAYERS 1 border block-->
                                <div class="tp-caption rev-btn  tp-resizeme slider-block" id="slide-75-layer-1" data-x="['left','left','left','center']"
                                    data-hoffset="['0','100','60','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]" data-paddingright="[250,150,150,150]"
                                    data-paddingbottom="[250,250,250,200]" data-paddingleft="[250,150,150,150]" style="z-index: 8;">
                                    <div class="rs-wave" data-speed="1" data-angle="0" data-radius="2px"></div>
                                </div>
                                <!-- LAYER 2 button -->
                                <!-- <div class="tp-caption rev-btn  tp-resizeme" id="slide-75-layer-2" data-x="['left','left','left','center']" data-hoffset="['100','140','140','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','150']" data-width="none"
                                    data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"split":"chars","splitdelay":0.03,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                    data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index:9; line-height:30px;">
                                    <a href="Javascript:;" class="site-button-secondry">Xem thêm</a>
                                </div> -->
                                <div class="tp-caption rev-btn  tp-resizeme bg-primary " id="slide-75-layer-3" data-x="['right','right','right','right']"
                                    data-hoffset="['870','570','370','870']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-width="full" data-height="full" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                                    data-frames='[{"from":"y:[-0%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":0,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":0,"to":"y:[-0%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[250,250,250,200]" data-paddingright="[250,150,150,150]"
                                    data-paddingbottom="[250,250,250,200]" data-paddingleft="[250,150,150,150]" style="z-index: 6; width:6000px"></div>
                                <!-- LAYER 5 title-->
                                <div class="tp-caption   tp-resizeme slider-tag-line" id="slide-75-layer-5" data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']"
                                    data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                    data-frames='[{"delay":300,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[20,20,20,20]"
                                    data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400;font-family: 'Poppins', sans-serif; text-transform:uppercase">
                                    ACIV Việt Nam </div>
                                <!-- LAYER 6  tag line-->
                                <div class="tp-caption   tp-resizeme" id="slide-75-layer-6" data-x="['left','left','left','center']" data-hoffset="['100','140','140','20']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','-20']" data-fontsize="['60','45','60','40']"
                                    data-lineheight="['70','60','70','50']" data-width="['700','650','620','380']" data-height="none"
                                    data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
                                    data-textAlign="['left','left','left','center']" data-paddingtop="[20,20,20,20]" data-paddingright="[20,20,20,20]"
                                    data-paddingbottom="[30,30,30,30]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: normal;font-weight: 700; color: #ffffff;font-family: Arial,Helvetica Neue,Helvetica,sans-serif; ">Khám phá
                                    <br> vẻ đẹp từ thiên nhiên </div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer" style="height: 10px; background: rgba(0, 0, 0, 0.15);"></div>
                    </div>
                </div>
                <!-- SLIDER END -->
                <!-- WELCOME SECTION START -->
                <div class="section-full p-tb80 bg-white">
                    <div class="container">
                        <div class="section-content">
                            <div class="row">
                                <!-- <div class="col-md-7 col-sm-12">
                                    <div class="welcome-carousel-outer m-b60">
                                        <div class="welcome-bg-block clearfix">
                                            <div class="welcome-carousel-1 ">
                                                <div class="owl-carousel home-carousel-1 owl-btn-bottom-left">
                                                    
                                                    <div class="item">
                                                        <div class="ow-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="https://i.imgur.com/jtxTqi2.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <div class="ow-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="https://i.imgur.com/nnHpaim.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <div class="owl-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="https://i.imgur.com/ChhV61X.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <div class="ow-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="https://i.imgur.com/k1Gsju1.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <div class="ow-img">
                                                            <a href="javascript:void(0);">
                                                                <img src="https://i.imgur.com/oY3uqWk.jpg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-12 col-sm-12">
                                    <!-- TITLE START -->
                                    <div class="section-head">
                                        <div class="wt-separator-outer separator-left">
                                            <div class="wt-separator">
                                                <span class="text-primary text-uppercase sep-line-one ">Chào mừng tới ACIV</span>
                                            </div>
                                        </div>
                                        <h2>Chúng tôi bắt đầu từ năm 2018</h2>
                                    </div>
                                    <!-- TITLE END -->
                                    <p>Công ty TNHH MTV thiết kế và xây dựng ACIV là công ty chuyên về lĩnh vực thiết kế- thi
                                        công nội thất, xây dựng công trình dân dụng. Với đội ngũ nhân viên trẻ, đầy nhiệt
                                        tình và sáng tạo, chúng tôi mong muốn mang lại những giá trị đích thực cho khách
                                        hàng và đối tác của chúng tôi.</p>
                                    <p>Với đội ngũ nhân viên trẻ, đầy nhiệt tình và sáng tạo, chúng tôi mong muốn mang lại những
                                        giá trị đích thực cho khách hàng và đối tác của chúng tôi.</p>
                                    <a href="/bai-viet/gioi-thieu" class="site-button m-t15 m-b15">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- WELCOME  SECTION END -->
                <!-- PROJECT SECTION START -->
                <div class="section-full small-device  p-t80 p-b50 bg-gray">
                        <div class="container">
                            <!-- PAGINATION START -->
                            <div class="filter-wrap p-b30 text-center">
                                <ul class="filter-navigation masonry-filter text-uppercase">
                                    <li class="active">
                                        <a data-filter="*" data-hover="All" href="#">Tất cả</a>
                                    </li>
                                    <% projectCategoryData.rows.forEach(function( projectCategory){ %>
                                        <li>
                                            <a data-filter=".cat-<%= projectCategory._id %>" data-hover="<%= projectCategory.name %>" href="javascript:;">
                                                <%= projectCategory.name %>
                                            </a>
                                        </li>
                                        <% }) %>
    
                                </ul>
                            </div>
                            <!-- PAGINATION END -->
                            <!-- GALLERY CONTENT START -->
                            <% if(isMobile){ %>
                                <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
                                    <!-- COLUMNS 1 -->
                                    <% projectData.rows.forEach(function( project){ %>
                                        <div class="masonry-item col-lg-3  cat-<%= project.projectCategoryId %> col-md-4 col-sm-6 m-b30">
                                            <div class="wt-box">
                                                <div class="work-hover-grid">
                                                    <img src="<%= project.thumb %>" alt="" />
                                                    <div class="work-hover-discription">
                                                            <h4>
                                                                <%= project.name %>
                                                            </h4>
                                                        </div>
                                                    <a href="/du-an/<%= project.slug %>"></a>
                                                </div>
                                                <div class="wt-post-info  bg-white p-t30">
                                                    <a href="/du-an/<%= project.slug %>" class="btn-half site-button site-btn-effect button-md m-t5">
                                                        <span>Chi tiết</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <% } else{ %>
                                    <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
                                        <!-- COLUMNS 1 -->
                                        <% projectData.rows.forEach(function( project){ %>
                                            <div class="masonry-item cat-<%= project.projectCategoryId %>  col-md-4 col-sm-6 m-b30">
                                                <div class="wt-box">
                                                    <div class="work-hover-grid">
                                                        <img src="<%= project.thumb %>" alt="" style="width: 360px; height: 225px; object-fit: cover" />
                                                        <div class="work-hover-discription">
                                                            <h4>
                                                                <%= project.name %>
                                                            </h4>
                                                            <h5>Chi tiết</h5>
                                                        </div>
                                                        <a href="/du-an/<%= project.slug %>"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                <!-- <div class="section-full p-t80 p-b20 bg-gray clearfix">
                    <div class="container">
                        <div class="section-head text-center">
                            <div class="wt-separator-outer separator-center">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">Dự án</span>
                                </div>
                            </div>
                            <h2>Dự án mới nhất của chúng tôi</h2>
                        </div>
                    </div>
                    <div class="portfolio-wrap mfp-gallery work-grid row clearfix" id="project-pin-list">

                    </div>
                    
                </div> -->
                <!-- PROJECT SECTION END -->
                <!-- WHAT WE DO SECTION START -->
                <div class="section-full p-t80 p-b50 bg-white clearfix">
                    <div class="container">
                        <!-- TITLE START -->
                        <div class="section-head text-center">
                            <div class="wt-separator-outer separator-center">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">Điều bạn cần</span>
                                </div>
                            </div>
                            <h2>Chúng tôi mang đến cho bạn</h2>
                        </div>
                        <!-- TITLE END -->
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect  v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50 bg-gray">
                                            <div class="icon-lg text-primary m-b25">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-sketch"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Kế hoạch</h4>
                                                <p>Kế hoạch phát triển dự án</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Read More">Xem thêm</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-gray">
                                            <div class="icon-lg text-primary m-b25">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-window"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Nội thất</h4>
                                                <p>Thiết kế thi công nội thất</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Read More">Xem thêm</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-gray">
                                            <div class="icon-lg text-primary m-b25">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-window-5"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Ngoại thất</h4>
                                                <p>Thiết kế thi công ngoại thất</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Read More">Xem thêm</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50 bg-gray">
                                            <div class="icon-lg text-primary m-b25">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-plant"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Trang trí</h4>
                                                <p>Trang trí nhà cửa</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Read More">Xem thêm</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-gray">
                                            <div class="icon-lg text-primary m-b25">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-sofa"></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Đồ nội thất</h4>
                                                <p>Phân phối đồ nội thất</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Read More">Xem thêm</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                                    <div class="hover-box-effect v-icon-effect">
                                        <div class="wt-icon-box-wraper center p-lr30  p-b50 p-t50  bg-gray">
                                            <div class="icon-lg text-primary m-b25">
                                                <span class="icon-cell text-primary">
                                                    <i class="v-icon flaticon-review "></i>
                                                </span>
                                            </div>
                                            <div class="icon-content text-black">
                                                <h4 class="wt-tilte m-b25">Dịch vụ khác</h4>
                                                <p>Thiết kế và xây dựng</p>
                                                <!-- <a href="#" class="site-button-link" data-hover="Read More">Xem thêm</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- WHAT WE DO  SECTION END -->
                <!-- VIDEO SECTION START -->
                <!-- <div class="section-full bg-center bg-no-repeat bg-cover" style="background-image:url(images/background/bg-1.jpg);">
                    <div class="container">
                        <div class="section-content">
                            <div class="video-section-full bg-white">
                                <span class="font-18 text-primary text-uppercase">Thiết kế và xây dựng</span>
                                <h4 class="wt-tilte m-tb20">Chúng tôi là đội ngũ kiến trúc sư, thi công, thiết kế công trình cho bạn</h4>
                                <div class="video-section-content">
                                    <div class="video-section-left">
                                        <a href="https://player.vimeo.com/video/34741214?color=ffffff&title=0&byline=0&portrait=0" class="mfp-video play-now">
                                            <i class="icon fa fa-play"></i>
                                            <span class="ripple"></span>
                                        </a>
                                    </div>
                                    <div class="video-secion-right">
                                        <a href="https://player.vimeo.com/video/34741214?color=ffffff&title=0&byline=0&portrait=0" class="mfp-video font-weight-600 text-uppercase">Xem video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- VIDEO SECTION END -->
                <!-- OUR BLOG START -->

                <!-- <div class="section-full small-device bg-white p-t80 p-b40">
                    <div class="container">
                        <div class="section-head text-center">
                            <div class="wt-separator-outer separator-center">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">Bài viết</span>
                                </div>
                            </div>
                            <h2>Bài viết mới nhất</h2>
                        </div>
                        <div class="section-content">
                            <div class="row" id="lastest-post">

                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- OUR BLOG END -->
                <!-- CLIENT LOGO SECTION START -->
                <!-- <div class="section-full small-device bg-gray   p-t80 p-b60">
                    <div class="container">
                        <div class="section-head text-center">
                            <div class="wt-separator-outer separator-center">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">Gặp khách hàng của chúng tôi</span>
                                </div>
                            </div>
                            <h2>Khách hàng của chúng tôi</h2>
                        </div>
                        <div class="section-content p-tb10 owl-btn-vertical-center">
                            <div class="owl-carousel home-client-carousel-2">
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);">
                                                <img src="images/client-logo/w1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);">
                                                <img src="images/client-logo/w2.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);">
                                                <img src="images/client-logo/w3.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);">
                                                <img src="images/client-logo/w4.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);">
                                                <img src="images/client-logo/w5.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ow-client-logo">
                                        <div class="client-logo client-logo-media">
                                            <a href="javascript:void(0);">
                                                <img src="images/client-logo/w6.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- CLIENT LOGO  SECTION End -->
                <!-- OUR WORK CONTENT START -->
                <!-- <div class="section-full small-device  p-t80 p-b50 bg-white">
                    <div class="container">
                       
                        <div class="section-head text-center">
                            <div class="wt-separator-outer separator-center">
                                <div class="wt-separator">
                                    <span class="text-primary text-uppercase sep-line-one ">Dự án</span>
                                </div>
                            </div>
                            <h2>Dự án chúng tôi đã làm</h2>
                        </div>
                    </div>
                    <div class="portfolio-wrap mfp-gallery work-grid clearfix" id="project-gallery">
                       
                        <div class="stamp col-md-3 col-sm-6 m-b40">
                            <div class="bg-gray p-a30 p-b20 stamp-secion">
                                <h4 class="wt-tilte m-t0">Chúng tôi tạo ra thiết kế sáng tạo. thiết kế đặc biệt cho không gian đặc biệt</h4>
                                <p>Tất cả được tạo nên từ cảm hứng tuyệt vời dành cho khách hàng của chúng tôi</p>
                                <div class="filter-wrap">
                                    <ul class="filter-navigation masonry-filter text-uppercase" id="project-category-home">
                                        <li class="active">
                                            <a data-filter="*" data-hover="All" href="#">All</a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div> -->
                <!-- OUR WORK CONTENT END  -->
                <!-- TESTIMONIAL SECTION START -->

                <!-- <div class="section-full small-device  p-t80 p-b80 bg-white bg-repeat" style="background-image:url(images/background/ptn-1.png)">
                    <div class="container">
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-7 m-b30">
                                    <div class="owl-carousel testimonial-home owl-btn-top-right">


                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="counter-section-one">
                                        <div class="counter-sec-top">
                                            <div class="p-a20 text-black wt-icon-box-wraper center">
                                                <h4>Cảm hứng từ con tim</h4>
                                            </div>
                                        </div>
                                        <div class="counter-sec-bottom">
                                            <div class="p-a20 text-black wt-icon-box-wraper center">
                                                <h4>Chuyên nghiệp - Tận tâm - Nhiệt tình</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- TESTIMONIAL SECTION END -->
            </div>
            <!-- CONTENT END -->
            <!-- FOOTER START -->
            <%- include snippets/footer.ejs %>
                <!-- FOOTER END -->
                <!-- BUTTON TOP START -->
                <button class="scroltop">
                    <span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
                </button>
    </div>
    <script>
        window.onload = function () {
            getProject()
            //getPosts()
            //getTesmonial()
            //getProjectCategory()
        }
        async function getProjectCategory() {
            const projectCategoryData = await fetch(`https://server.pega.tech/api/v1/projectCategory?fields=["$all"]`, {
                headers: {
                    app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                }
            }).then(res => { return res.json() })
            projectCategoryData.results.objects.rows.forEach(projectCategoryData => {
                $("#project-category-home").append(`<li>
                       <a data-filter=".cat-${projectCategoryData._id}" data-hover="${projectCategoryData.name}" href="javascript:;">${projectCategoryData.name}</a>        
                    </li>`)


            });
            const projectData = await fetch(`https://server.pega.tech/api/v1/project?fields=["$all"]&limit=12`, {
                headers: {
                    app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                }
            }).then(res => { return res.json() })
            projectData.results.objects.rows.forEach(project => {

                $("#project-gallery").append(`
                <div class="masonry-item  cat-${project.projectCategoryId} col-md-3 col-sm-6 m-b30">
                            <div class="wt-box   work-hover-content">
                                <div class="wt-thum-bx img-center-icon">
                                    <a href="/du-an/${project.slug}">
                                        <img src="${project.thumb}" alt="">
                                    </a>
                                </div>
                                <div class="wt-info  p-t20">
                                    <h4 class="wt-tilte m-b10 m-t0">
                                        <a href="/du-an/${project.slug}">${project.name}</a>
                                    </h4>
                                    <p class="m-b0"></p>
                                </div>
                            </div>
                        </div>
                `)

            });
        }
        async function getTesmonial() {
            const tesmonialData = await fetch(`https://server.pega.tech/api/v1/tesmonial?fields=["$all"]`, {
                headers: {
                    app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                }
            }).then(res => { return res.json() })
            tesmonialData.results.objects.rows.forEach(tesmonial => {

                $('.testimonial-home').owlCarousel('add', `<div class="item">
                                            <div class="testimonial-5">

                                                <div class="testimonial-text">
                                                    <div class="testimonial-paragraph">
                                                        <span class="fa fa-quote-left text-primary"></span>
                                                        <p>${tesmonial.content}</p>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="testimonial-detail clearfix">
                                                        <strong class="testimonial-name text-black">${tesmonial.name}</strong>
                                                        <span class="testimonial-position p-t5">${tesmonial.position}</span>
                                                    </div>
                                                    <div class="testimonial-pic-block">
                                                        <div class="testimonial-pic">
                                                            <img src="${tesmonial.thumb}" width="132" height="132" alt="" style="-webkit-filter: grayscale(100%);filter: grayscale(100%);">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>`).owlCarousel('update');

            });
        }
        async function getProject() {
            const projectData = await fetch(`https://server.pega.tech/api/v1/project?fields=["$all"]&filter={"isPin":true,"status":"active"}`, {
                headers: {
                    app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                }
            }).then(res => { return res.json() })
            projectData.results.objects.rows.forEach(project => {
                $('#project-pin-list').append(`
                <div class="masonry-item col-lg-3  col-md-4 col-sm-6 m-b30">
                                        <div class="wt-box">
                                            <div class="work-hover-grid">
                                                <img src="${project.thumb}" alt="" />

                                                <a href="/du-an/${project.slug}"></a>
                                            </div>
                                            <div class="wt-post-info  bg-white p-t30">
                                                <a href="/du-an/${project.slug}" class="btn-half site-button site-btn-effect button-md m-t5">
                                                    <span>Chi tiết</span>
                                                </a>
                                            </div>
                                        </div>
                </div>
                `)
                // $('.owl-btn-bottom-center').owlCarousel('add', ` <div class="item">
                //             <div class="line-filter-outer bg-cover" style="background-image:url(${project.thumb});">
                //                 <div class="hover-effect-1">
                //                     <div class="hover-effect-content">

                //                         <a href="/du-an/${project.slug}" class="site-button-link" data-hover="Chi tiết">Chi tiết</a>
                //                     </div>
                //                 </div>
                //             </div>
                //         </div>`).owlCarousel('update');

            });
            // $(".owl-btn-bottom-center").owlCarousel({
            //     nav: true,
            //     navText: ['<i class="flaticon-back"></i> Prev', 'Next <i class="flaticon-next"></i>']
            // }).owlCarousel('update')


        }
        async function getPosts() {
            const postData = await fetch(`https://server.pega.tech/api/v1/post?fields=["$all"]&filter={"isPin":true,"status":"active"}&limit=2`, {
                headers: {
                    app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                }
            }).then(res => { return res.json() })
            postData.results.objects.rows.forEach(post => {
                let date = moment(post.createdAt).format("DD/MM/YYYY")
                $('#lastest-post').append(`
                        <div class="col-md-6 col-sm-6" >
                        <div class="blog-post latest-blog-1  date-style-1">
                            <div class="wt-post-media wt-img-effect zoom-slow" >
                                <a href="/bai-viet/${post.slug}">
                                    <img src="${post.thumb}" alt="" style="height:500px">
                                </a>
                            </div>
                            <div class="wt-post-info">
                                <div class="post-date">
                                    <strong>${date}</strong>
                                </div>
                                <div class="wt-post-title">
                                    <h4 class="post-title">
                                        <a href="/bai-viet/${post.slug}">${post.title}</a>
                                    </h4>
                                </div>
                                <div class="wt-post-text">
                                    <p>${post.shortDescription}</p>
                                </div>
                                <div class="wt-post-meta">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                        `)

            });

        }
    </script>

    <!-- LOADING AREA START ===== -->
    <!-- <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-box-loading"></div>
        </div>
    </div> -->
    <!-- LOADING AREA  END ====== -->
    <!-- JAVASCRIPT  FILES ========================================= -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- JQUERY.MIN JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- BOOTSTRAP.MIN JS -->
    <script src="js/magnific-popup.min.js"></script>
    <!-- MAGNIFIC-POPUP JS -->
    <script src="js/waypoints.min.js"></script>
    <!-- WAYPOINTS JS -->
    <script src="js/counterup.min.js"></script>
    <!-- COUNTERUP JS -->
    <script src="js/waypoints-sticky.min.js"></script>
    <!-- COUNTERUP JS -->
    <script src="js/isotope.pkgd.min.js"></script>
    <!-- MASONRY  -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- OWL  SLIDER  -->
    <script src="js/jquery.owl-filter.js"></script>
    <script src="js/stellar.min.js"></script>
    <!-- PARALLAX BG IMAGE   -->
    <script src="js/custom.js"></script>
    <!-- CUSTOM FUCTIONS  -->
    <script src="js/shortcode.js"></script>
    <!-- SHORTCODE FUCTIONS  -->
    <script src="js/switcher.js"></script>
    <!-- SHORTCODE FUCTIONS  -->
    <!-- REVOLUTION JS FILES -->
    <script src="plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>
    <!-- REVOLUTION SLIDER SCRIPT FILES -->
    <script src="js/rev-script-1.js"></script>


    <!-- STYLE SWITCHER  ======= -->

    <!-- STYLE SWITCHER END ==== -->

</body>

</html>