<div class="portfolio-wrap mfp-gallery news-grid row clearfix">
        <% projectData.rows.forEach(function( project){ %>
            
            <div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b50 blog-grid-1">
                <div class="wt-img-effect " style="width:360px;height:185px; object-fit: contain">
                    <a href="/du-an/<%= project.slug %>">
                        <img src="<%= project.thumb %>" alt="" >
                    </a>
                </div>
                <div class="wt-post-info  bg-white p-t30">

                    <!-- <div class="wt-post-title ">
                        <h4 class="post-title">
                            <a href="/du-an/<%= project.slug %>" class=" font-weight-600 m-t0">
                                <%= project.name %>
                            </a>
                        </h4>
                    </div> -->

                    <a href="/du-an/<%= project.slug %>" class="btn-half site-button site-btn-effect button-md m-t5">
                        <span>Chi tiết</span>
                    </a>
                    <!-- <div class="wt-post-bottom  bdr-t-1 bdr-gray bdr-solid">
                                <ul>
                                    <li class="post-like"><i class="fa fa-heart-o"></i><a href="javascript:void(0);">6 <span>Likes</span></a> </li>
                                    <li class="post-comment"><i class="fa fa fa-comments"></i><a href="javascript:void(0);">23 <span>Comment</span></a> </li>                                                
                                </ul>                                    
                            </div>                                     -->
                </div>
            </div>
            <% }) %>


    </div>