<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="title" content="<%= post.metaTitle %>" />
    <meta name="description" content="<%= post.metaDescription %>" />
    <%- include snippets/head.ejs %>
        <!-- PAGE TITLE HERE -->
        <title>ACIV |
            <%= post.title %>
        </title>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/vi.js"></script>
</head>

<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1222440474582698">
    </div>

    <div class="page-wraper">

        <!-- HEADER START -->
        <%- include snippets/header.ejs %>
            <!-- HEADER END -->

            <!-- CONTENT START -->
            <div class="page-content ">
                <!-- INNER PAGE BANNER -->
                <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(https://i.imgur.com/ip3IdC8.jpg);">
                    <div class="overlay-main bg-black opacity-07"></div>
                    <div class="container">
                        <div class="wt-bnr-inr-entry">
                            <div class="banner-title-outer">
                                <div class="banner-title-name">
                                    <h2 class="text-white">
                                        <%= post.title %>
                                    </h2>
                                </div>
                            </div>
                            <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li>
                                        <a href="javascript:void(0);">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="/bai-viet">Bài viết</a>
                                    </li>
                                    <li>
                                        <%= post.title %>
                                    </li>
                                </ul>
                            </div>

                            <!-- BREADCRUMB ROW END -->
                        </div>
                    </div>
                </div>
                <!-- INNER PAGE BANNER END -->

                <!-- SECTION CONTENT START -->
                <div class="section-full small-device  p-tb80">
                    <div class="container">

                        <!-- BLOG START -->
                        <div class="blog-post date-style-1 blog-detail text-black">
                            <div class="wt-post-media">
                                <!--Fade slider-->
                                <div class="owl-carousel owl-fade-slider-one owl-btn-vertical-center m-b30">

                                    <div class="item">
                                        <div class="aon-thum-bx">
                                            <img src="<%= post.thumb %>" alt="">
                                        </div>
                                    </div>
                                    <!--                                 
                                <div class="item">
                                    <div class="aon-thum-bx">
                                        <img src="http://thewebmax.com/intoria/images/blog/default/thum2.jpg" alt="">
                                    </div>
                                </div>
                                
                                <div class="item">
                                    <div class="aon-thum-bx">
                                        <img src="http://thewebmax.com/intoria/images/blog/default/thum3.jpg" alt="">
                                    </div>
                                </div>                                     -->

                                </div>
                                <!--fade slider END-->
                            </div>

                            <div class="wt-post-title ">
                                <h4 class="post-title">
                                    <%= post.title %>
                                </h4>
                            </div>
                            <div class="wt-post-meta ">
                                <ul>
                                    <li class="post-author">
                                        <strong>Viết bởi ACIV</strong>
                                    </li>
                                    <li class="post-date">
                                        <strong>
                                            <%= moment(post.createdAt).format("DD/MM/YYYY") %>
                                        </strong>
                                    </li>
                                </ul>
                            </div>

                            <div class="wt-post-text">
                                <%- post.content %>
                                    <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", 
                            </p>                            
                            <blockquote>
                            	<i class="fa fa-quote-left"></i>
                                <p>You’ll surely get meeting report, that outlines everything we had discuss. This is needed to ensure you that understanding of the project meets your requirements and your expectations.</p>
                                <div class="p-t15 text-uppercase">
                                    <strong>Maurica drake</strong>
                                    <span>Lead manager</span>
                                </div>
                              
                            </blockquote> -->



                            </div>
                        </div>

                        <!-- OUR BLOG START -->
                        <div class="section-full">

                            <!-- TITLE START -->
                            <div class="section-head text-left">
                                <h2 class="m-b5">Bài viết liên quan</h2>
                            </div>
                            <!-- TITLE END -->
                            <script>
                                window.onload = function () {
                                    getPosts()
                                }

                                async function getPosts() {
                                    const postData = await fetch(`https://server.pega.tech/api/v1/post?fields=["$all"]&filter={"status":"active","_id":{"$ne":"<%= post._id %>"}}&limit=3`, {
                                        headers: {
                                            app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                                        }
                                    }).then(res => { return res.json() })
                                    postData.results.objects.rows.forEach(post => {
                                        const date = moment(post.createdAt).format("DD/MM/YYYY")
                                        $('#popular-posts').append(`
                                            <div class="col-md-4 col-sm-6 m-b50" >
                                        <div class="blog-grid-1">
                                            <div class="wt-img-effect " style="width:300px;height:200px">
                                                <a href="/bai-viet/${post.slug}"><img src="${post.thumb}" alt=""></a>
                                            </div>
                                            <div class="wt-post-info  bg-white p-t30">
                                                <div class="wt-post-title ">
                                                    <h4 class="post-title"><a href="/bai-viet/${post.slug}" class=" font-weight-600 m-t0">${post.title}</a></h4>
                                                </div>
                                                <div class="wt-post-meta ">
                                                    <ul>
                                                        <li class="post-date"><strong>${date}</strong> </li>
                                                        <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                                    </ul>
                                                </div>                                     
                                                <div class="wt-post-text">
                                                    <p>${post.shortDescription}</p> 
                                                </div>
                                                <a href="/bai-viet/${post.slug}" class="btn-half site-button site-btn-effect button-md"><span>Xem thêm</span></a>
                                                                                   
                                            </div>
                                        </div>
                                    </div>
                                                    `)

                                    });

                                }
                            </script>
                            <!-- IMAGE CAROUSEL START -->
                            <div class="section-content">
                                <div class="row" id="popular-posts">


                                    <!-- <div class="col-md-4 col-sm-6 m-b50">
                                       
                                        <div class="blog-grid-1">
                                            <div class="wt-img-effect ">
                                                <img src="http://thewebmax.com/intoria/images/blog/default/thum2.jpg" alt="">
                                            </div>
                                            <div class="wt-post-info  bg-white p-t30">
                                                <div class="wt-post-title ">
                                                    <h4 class="post-title"><a href="javascript:void(0);" class=" font-weight-600 m-t0">Sustainable design with your earth & health in mind.</a></h4>
                                                </div>
                                                <div class="wt-post-meta ">
                                                    <ul>
                                                        <li class="post-date"><strong>20 Feb</strong> <span> 2019</span> </li>
                                                        <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                                    </ul>
                                                </div>                                     
                                                <div class="wt-post-text">
                                                    <p>Has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p> 
                                                </div>
                                                <a href="javascript:void(0);" class="btn-half site-button site-btn-effect button-md"><span>Read More</span></a>
                                                <div class="wt-post-bottom  bdr-t-1 bdr-gray bdr-solid">
                                                    <ul>
                                                        <li class="post-like"><i class="fa fa-heart-o"></i><a href="javascript:void(0);">5 <span>Likes</span></a> </li>
                                                        <li class="post-comment"><i class="fa fa fa-comments"></i><a href="javascript:void(0);">10 <span>Comment</span></a> </li>                                                
                                                    </ul>                                    
                                                </div>                                    
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- <div class="col-md-4 col-sm-12 m-b50">
                                        
                                        <div class="blog-grid-1">
                                            <div class="wt-img-effect ">
                                                <img src="http://thewebmax.com/intoria/images/blog/default/thum3.jpg" alt="">
                                            </div>
                                            <div class="wt-post-info  bg-white p-t30">
                                                <div class="wt-post-title ">
                                                    <h4 class="post-title"><a href="javascript:void(0);" class=" font-weight-600 m-t0">Creating lasting impressions through interior design.</a></h4>
                                                </div>
                                                <div class="wt-post-meta ">
                                                    <ul>
                                                        <li class="post-date"><strong>22 Feb</strong> <span> 2019</span> </li>
                                                        <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                                                    </ul>
                                                </div>                                     
                                                <div class="wt-post-text">
                                                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and ahas a more-or-less normal.</p> 
                                                </div>
                                                <a href="javascript:void(0);" class="btn-half site-button site-btn-effect button-md"><span>Read More</span></a>
                                                <div class="wt-post-bottom  bdr-t-1 bdr-gray bdr-solid">
                                                    <ul>
                                                        <li class="post-like"><i class="fa fa-heart-o"></i><a href="javascript:void(0);">5 <span>Likes</span></a> </li>
                                                        <li class="post-comment"><i class="fa fa fa-comments"></i><a href="javascript:void(0);">10 <span>Comment</span></a> </li>                                                
                                                    </ul>                                    
                                                </div>                                    
                                            </div>
                                        </div>
                                    </div>                             -->

                                </div>
                            </div>


                        </div>
                        <!-- OUR BLOG END -->

                        <div class="clear" id="comment-list">

                        </div>
                        <!-- BLOG END -->

                    </div>
                </div>
                <!-- SECTION CONTENT END -->

            </div>
            <!-- CONTENT END -->

            <!-- FOOTER START -->
            <%- include snippets/footer.ejs %>
                <!-- FOOTER END -->

                <!-- BUTTON TOP START -->
                <button class="scroltop">
                    <span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
                </button>

    </div>

    <!-- LOADING AREA START ===== -->
    <!-- <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-box-loading"></div>
        </div>
    </div> -->
    <!-- LOADING AREA  END ====== -->

    <!-- JAVASCRIPT  FILES ========================================= -->
    <%- include snippets/script.ejs %>

</body>

</html>