<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />
    <%- include snippets/head.ejs %>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/vi.js"></script>
        <!-- PAGE TITLE HERE -->
        <title>ACIV |
            <%= project.name %>
        </title>
</head>

<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1222440474582698">
    </div>

    <div class="page-wraper">

        <!-- HEADER START -->
        <%- include snippets/header.ejs %>
            <!-- HEADER END -->

            <!-- CONTENT START -->
            <div class="page-content">
                <!-- INNER PAGE BANNER -->
                <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(https://i.imgur.com/ip3IdC8.jpg);">
                    <div class="overlay-main bg-black opacity-07"></div>
                    <div class="container">
                        <div class="wt-bnr-inr-entry">
                            <div class="banner-title-outer">
                                <div class="banner-title-name">
                                    <h2 class="text-white">
                                        <%= project.name %>
                                    </h2>
                                </div>
                            </div>
                            <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li>
                                        <a href="javascript:void(0);">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="/du-an">Dự án</a>
                                    </li>
                                    <li>
                                        <%= project.name %>
                                    </li>
                                </ul>
                            </div>

                            <!-- BREADCRUMB ROW END -->
                        </div>
                    </div>
                </div>
                <!-- INNER PAGE BANNER END -->

                <!-- SECTION CONTENT START -->
                <div class="section-full small-device  p-tb80">
                    <div class="container">
                        <div class="project-detail-outer">
                            <div class="row">
                                
                                <% project.images.forEach(function( image){ %>
                                    <div class="col-md-6">
                                        <div class="project-detail-pic m-b30">
                                            <div class="wt-media">
                                                <img src="<%= image %>" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>

                                        <div class="project-detail-containt">
                                            <div class="bg-white text-black">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <!-- <h4>
                                                            <%= project.shortDescription %>
                                                        </h4> -->
                                                        <p>
                                                            <%- project.description %>
                                                        </p>

                                                        <!-- OUR BLOG START -->
                                                        <div class="section-full">

                                                            <!-- TITLE START -->
                                                            <div class="section-head text-left">
                                                                <h2 class="m-b5">Dự án khác của ACIV</h2>
                                                            </div>
                                                            <!-- TITLE END -->
                                                            <script>
                                                                window.onload = function () {
                                                                    getPosts()
                                                                }

                                                                async function getPosts() {
                                                                    const projectData = await fetch(`https://server.pega.tech/api/v1/project?fields=["$all"]&filter={"status":"active"}&limit=3`, {
                                                                        headers: {
                                                                            app_id: "271dddb6-8f53-437b-998b-38df818b365d"
                                                                        }
                                                                    }).then(res => { return res.json() })
                                                                    projectData.results.objects.rows.forEach(project => {
                                                                        $('#popular-posts').append(`
                                                <div class="col-md-4 col-sm-6 m-b50" >
                                            <div class="blog-grid-1">
                                                <div class="wt-img-effect " style="width:300px;height:200px">
                                                    <a href="/du-an/${project.slug}"><img src="${project.thumb}" alt=""></a>
                                                </div>
                                                <div class="wt-post-info  bg-white p-t30">
                                                    <div class="wt-post-title ">
                                                        <h4 class="post-title"><a href="/du-an/${project.slug}" class=" font-weight-600 m-t0">${project.name}</a></h4>
                                                    </div>
                                                                                      
                                                    <div class="wt-post-text">
                                                        <p>${project.shortDescription}</p> 
                                                    </div>
                                                    <a href="/du-an/${project.slug}" class="btn-half site-button site-btn-effect button-md"><span>Chi tiết</span></a>
                                                                                       
                                                </div>
                                            </div>
                                        </div>
                                                        `)

                                                                    });

                                                                }
                                                            </script>
                                                            <!-- IMAGE CAROUSEL START -->
                                                            <div class="section-content">
                                                                <div class="row" id="popular-posts">


                                                                </div>
                                                            </div>


                                                        </div>
                                                        <!-- OUR BLOG END -->



                                                    </div>
                                                </div>
                                            </div>
                                            <!-- SECTION CONTENT END  -->

                                        </div>
                                        <!-- CONTENT END -->

                                        <!-- FOOTER START -->
                                        <%- include snippets/footer.ejs %>
                                            <!-- FOOTER END -->

                                            <!-- BUTTON TOP START -->
                                            <button class="scroltop">
                                                <span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
                                            </button>

                            </div>

                            <!-- LOADING AREA START ===== -->
                            <!-- <div class="loading-area">
                                <div class="loading-box"></div>
                                <div class="loading-pic">
                                    <div class="cssload-box-loading"></div>
                                </div>
                            </div> -->
                            <!-- LOADING AREA  END ====== -->
                            <!-- JAVASCRIPT  FILES ========================================= -->
                            <%- include snippets/script.ejs %>



</body>

</html>