<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Dự án thiết kế thi công tại Đà Nẵng" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="ACIV đã thiết kế và xây dựng nên những " />
    <meta name="title" content="Dự án thiết kế thi công tại ACIV" />
    <%- include snippets/head.ejs %>
        <script src="js/jquery-1.12.4.min.js"></script>
        <!-- PAGE TITLE HERE -->
        <title>ACIV | Dự án</title>
</head>

<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v5.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="1222440474582698">
    </div>

    <div class="page-wraper">

        <!-- HEADER START -->
        <%- include snippets/header.ejs %>
            <!-- HEADER END -->

            <!-- CONTENT START -->
            <div class="page-content">
                <!-- INNER PAGE BANNER -->
                <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(https://i.imgur.com/NzDe7D5.jpg);">
                    <div class="overlay-main bg-black opacity-07"></div>
                    <div class="container">
                        <div class="wt-bnr-inr-entry">
                            <div class="banner-title-outer">
                                <div class="banner-title-name">
                                    <h2 class="text-white">Dự án</h2>
                                </div>
                            </div>
                            <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li>
                                        <a href="/">Trang chủ</a>
                                    </li>
                                    <li>Dự án</li>
                                </ul>
                            </div>

                            <!-- BREADCRUMB ROW END -->
                        </div>
                    </div>
                </div>
                <!-- INNER PAGE BANNER END -->

                <!-- SECTION CONTENT START -->
                <div class="section-full small-device  p-t80 p-b50 bg-gray">
                    <div class="container">
                        <!-- PAGINATION START -->
                        <div class="filter-wrap p-b30 text-center">
                            <ul class="filter-navigation masonry-filter text-uppercase">
                                <li class="active">
                                    <a data-filter="*" data-hover="All" href="#">Tất cả</a>
                                </li>
                                <% projectCategoryData.rows.forEach(function( projectCategory){ %>
                                    <li>
                                        <a data-filter=".cat-<%= projectCategory._id %>" data-hover="<%= projectCategory.name %>" href="javascript:;">
                                            <%= projectCategory.name %>
                                        </a>
                                    </li>
                                    <% }) %>

                            </ul>
                        </div>
                        <!-- PAGINATION END -->
                        <!-- GALLERY CONTENT START -->
                        <% if(isMobile){ %>
                            <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
                                <!-- COLUMNS 1 -->
                                <% projectData.rows.forEach(function( project){ %>
                                    <div class="masonry-item cat-<%= project.projectCategoryId %> col-lg-3  col-md-4 col-sm-6 m-b30">
                                        <div class="wt-box">
                                            <div class="work-hover-grid">
                                                <img src="<%= project.thumb %>" alt="" />
                                                <div class="work-hover-discription">
                                                        <h4>
                                                            <%= project.name %>
                                                        </h4>
                                                    </div>
                                                <a href="/du-an/<%= project.slug %>"></a>
                                            </div>
                                            <div class="wt-post-info  bg-white p-t30">
                                                <a href="/du-an/<%= project.slug %>" class="btn-half site-button site-btn-effect button-md m-t5">
                                                    <span>Chi tiết</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                            <% } else{ %>
                                <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
                                    <!-- COLUMNS 1 -->
                                    <% projectData.rows.forEach(function( project){ %>
                                        <div class="masonry-item cat-<%= project.projectCategoryId %>  col-md-4 col-sm-6 m-b30">
                                            <div class="wt-box">
                                                <div class="work-hover-grid">
                                                    <img src="<%= project.thumb %>" alt="" style="width: 360px; height: 225px; object-fit: cover" />
                                                    <div class="work-hover-discription">
                                                        <h4>
                                                            <%= project.name %>
                                                        </h4>
                                                        <h5>Chi tiết</h5>
                                                    </div>
                                                    <a href="/du-an/<%= project.slug %>"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <% } %>


                                    <ul class="pagination m-tb0" id="blog-pagination">
                                    </ul>
                                    <span id='variableJSON' hidden>
                                        <%= JSON.stringify(projectData.pagination); %>
                                    </span>
                                    <script>
                                        const pagination = JSON.parse($('#variableJSON').text());
                                        const count = Number("<%= projectData.count %>")
                                        if (Math.ceil(count / 10) === 1) {

                                        } else {
                                            if (pagination.prev_page > 0) {
                                                $("#blog-pagination").append(`
                                    <li>
                                        <a href="/du-an?page=${pagination.prev_page}">Trước</a>
                                    </li>`
                                                )
                                            }
                                            for (var i = 1; i <= Math.ceil(count / 10); i++) {
                                                $("#blog-pagination").append(`
                                        <li class="${pagination.current_page === i ? "active" : null}">
                                        <a href="/du-an?page=${i}">${i}</a>
                                        </li>`
                                                )
                                            }
                                            if (pagination.next_page <= Math.ceil(count / 10)) {
                                                $("#blog-pagination").append(`
                                    <li>
                                        <a href="/du-an?page=${pagination.next_page}">Tiếp</a>
                                    </li>`
                                                )
                                            }
                                        }
                                    </script>
                                    <!-- GALLERY CONTENT END -->
                    </div>
                </div>
                <!-- SECTION CONTENT END  -->

            </div>
            <!-- CONTENT END -->

            <!-- FOOTER START -->
            <%- include snippets/footer.ejs %>
                <!-- FOOTER END -->

                <!-- BUTTON TOP START -->
                <button class="scroltop">
                    <span class="fa fa-angle-up  relative" id="btn-vibrate"></span>
                </button>

    </div>

    <!-- LOADING AREA START ===== -->
    <!-- <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="cssload-box-loading"></div>
        </div>
    </div> -->
    <!-- LOADING AREA  END ====== -->

    <!-- JAVASCRIPT  FILES ========================================= -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- JQUERY.MIN JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- BOOTSTRAP.MIN JS -->

    <script src="js/magnific-popup.min.js"></script>
    <!-- MAGNIFIC-POPUP JS -->

    <script src="js/waypoints.min.js"></script>
    <!-- WAYPOINTS JS -->
    <script src="js/counterup.min.js"></script>
    <!-- COUNTERUP JS -->
    <script src="js/waypoints-sticky.min.js"></script>
    <!-- COUNTERUP JS -->

    <script src="js/isotope.pkgd.min.js"></script>
    <!-- MASONRY  -->

    <script src="js/owl.carousel.min.js"></script>
    <!-- OWL  SLIDER  -->
    <script src="js/jquery.owl-filter.js"></script>

    <script src="js/stellar.min.js"></script>
    <!-- PARALLAX BG IMAGE   -->

    <script src="js/custom.js"></script>
    <!-- CUSTOM FUCTIONS  -->
    <script src="js/shortcode.js"></script>
    <!-- SHORTCODE FUCTIONS  -->
    <script src="js/switcher.js"></script>
    <!-- SHORTCODE FUCTIONS  -->



</body>

</html>