<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thiết lập</title>
    <link rel="stylesheet" href="/setting/setting.css" type="text/css" media="all" />
</head>

<body>
    Thiết lập
    <form method="POST">
        <div>
            <label>Tên thương hiệu</label>
            <input type="text" name="brand" value="<%= setting.brand %>">
        </div>
        <button type="submit">Cập nhật</button>
    </form>
</body>

</html>