<footer class="site-footer footer-large  footer-light	footer-wide">
            
    <!-- FOOTER BLOCKES START -->  
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="text-center">
                <div class="footer-link">
                    <ul>
                        <li><a href="/gioi-thieu" data-hover="Giới thiệu">Giới thiệu</a></li>
                        <li><a href="/du-an" data-hover="Dự án">Dự án</a></li>
                        <li><a href="/bai-viet" data-hover="Bài viết">Bài viết</a></li>
                        <!-- <li><a href="/dich-vu" data-hover="Dịch vụ">Dịch vụ</a></li> -->
                        <li><a href="/lien-he" data-hover="Liên hệ">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-4 col-md-4 col-sm-4">  
                    <div class="widget text-center getin-touch">
                        <h4 class="widget-title">KẾT NỐI VỚI CHÚNG TÔI</h4>
                        <div class="widget-section">
                            <ul>
                                <li>aciv.ceo@gmail.com</li>
                                <li>0977141977</li>
                            </ul>
                        </div>
                    </div>
             
                </div> 

                <!-- TAGS -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="widget text-center widget_address m-b20">
                        <h4 class="widget-title">ĐỊA CHỈ</h4>
                        <div class="widget-section">
                            <ul>
                                <li>247 - 249 Hoài Thanh - Quận Ngũ Hành Sơn - Tp Đà Nẵng</li>
                            </ul>
                        </div>
                        <div class="footer-social-icon">
                               <ul class="social-icons f-social-link">
                                    <li><a href="https://www.facebook.com/ACiV.Design.Build" target="_blank" class="fa fa-facebook"></a></li>
                                    <li><a href="https://www.google.com.vn/search?q=%22aciv.vn%22" class="fa fa-google"></a></li>
                                <!-- 
                                <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                <li><a href="https://www.facebook.com/ACiV.Design.Build" target="_blank" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                                        
                <!-- USEFUL LINKS -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="widget text-center">
                        <h4 class="widget-title">Studio</h4>
                        <div class="widget-section">
                            <ul>
                                <li><a href="about-1.html">Terms of Condition</a></li>
                                <li><a href="post-gallery.html">Privacy Policy</a></li>
                            </ul>
                        </div>                                
                    </div>                           
                </div>      

                <!-- NEWSLETTER -->

            </div>
            
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="wt-footer-bot-center">
                    <span class="copyrights-text">© 2019 ACIV</span>
                </div>
            </div>
        </div>
    </div>
</footer>