<!-- FAVICONS ICON -->
<link rel="icon" href="https://i.imgur.com/SAwgc7Q.jpg" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/SAwgc7Q.jpg" />

<!-- MOBILE SPECIFIC -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- [if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
<![endif] -->

<!-- BOOTSTRAP STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<!-- FONTAWESOME STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/fontawesome/css/font-awesome.min.css" />

<!-- OWL CAROUSEL STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">

<!-- MAGNIFIC POPUP STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/magnific-popup.min.css">
<!-- LOADER STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/loader.min.css">    
<!-- MAIN STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!-- FLATICON STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/flaticon.min.css"> 
<!-- THEME COLOR CHANGE STYLE SHEET -->
<link rel="stylesheet" class="skin" type="text/css" href="/css/skin/skin-1.css">
<!-- SIDE SWITCHER STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/switcher.css">        

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,800,800i,900" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Quicksand:200,300,400,600,700,800,900" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80582137-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80582137-6');
</script>
