<header class="site-header header-style-1  nav-wide">
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar bg-white">
            <div class="container header-center">
                <div class="wt-header-left">
                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one" style="width:81px; height: 75px;">
                            <a href="/">
                                <img src="https://i.imgur.com/b67hWff.png" width="171" height="49" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wt-header-center">
                    <!-- NAV Toggle Button -->
                    <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- MAIN Vav -->
                    <div class="header-nav navbar-collapse collapse nav-dark">
                        <ul class=" nav navbar-nav nav-line-animation">
                            <li class="active">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li>
                                <a href="/du-an">Dự án</a>
                            </li>
                            <li>
                                <a href="/bai-viet">Bài viết</a>
                            </li>
                            <li>
                                <a href="/gioi-thieu">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="/lien-he">Liên hệ</a>
                            </li>
                            <!-- <li>
                                <a href="javascript:;" >Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="news-grid.html">Grid</a></li>
                                    <li><a href="news-listing.html">Listing</a></li>
                                    <li><a href="news-masonry.html">Masonry</a></li>
                                </ul>
                            </li> -->
                            <!-- <li>
                                <a href="javascript:;" >Works</a>
                                <ul class="sub-menu">
                                    <li><a href="work-grid.html">Grid</a></li>
                                    <li><a href="work-masonry.html">Masonry</a></li>
                                    <li><a href="project-detail.html">Project Detail</a></li>                                        
                                </ul>
                            </li> -->
                            <!-- <li>
                                <a href="javascript:;" >Blog detail</a>
                                <ul class="sub-menu">
                                    <li><a href="post-gallery.html">Gallery</a></li>
                                    <li><a href="post-right-sidebar.html">Right Sidebar</a></li>                                        
                                </ul>                                    
                            </li> -->

                        </ul>
                    </div>
                </div>
                <div class="wt-header-right ">

                    <div class="bg-primary wt-header-right-child">
                        <!-- ETRA Nav -->
                        <!-- <div class="extra-nav">
                            <div class="extra-cell">
                                <a href="#search" class="site-search-btn"><i class="fa fa-search"></i></a>
                            </div>
                         </div>                                  -->
                        <!-- ETRA Nav -->
                        <!-- <div class="extra-nav" style="background-color: #ffffff;">
                            <div class="extra-cell">
                                <div class="">
                                    <a href="https://www.facebook.com/ACiV.Design.Build" target="_blank">
                                        <button type="button" class="" style="background: none;border: none;outline: none;">
                                            <i class="fa fa-phone"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="extra-nav">
                            <div class="extra-cell">
                                <div class="">
                                    <a href="https://www.facebook.com/ACiV.Design.Build" target="_blank">
                                        <button type="button" class="">
                                            <i class="fa fa-facebook"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                        <div class="extra-nav">
                            <div class="extra-cell">
                                <div class="right-arrow-btn">
                                    <button type="button" class="btn-open contact-slide-show text-white notification-animate">
                                        <i class="fa fa-angle-left"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Nav -->
                <div class="contact-slide-hide">
                    <div class="contact-nav">
                        <a href="javascript:void(0)" class="contact_close">&times;</a>
                        <div class="contact-nav-form p-a30">
                            <form class="cons-contact-form" method="post" action="/lien-he">
                                <div class="m-b30">
                                    <!-- TITLE START -->
                                    <div class="section-head text-left">
                                        <h4 class="m-b5">Liên hệ với chúng tôi</h4>
                                    </div>
                                    <!-- TITLE END -->
                                    <div class="input input-animate">
                                        <label for="fullName">Họ tên</label>
                                        <input type="text" name="fullName" id="name" required>
                                        <span class="spin"></span>
                                    </div>
                                    <div class="input input-animate">
                                        <label for="phone">Số điện thoại</label>
                                        <input type="text" name="phone" id="phone" required>
                                        <span class="spin"></span>
                                    </div>
                                    <div class="input input-animate">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" required>
                                        <span class="spin"></span>
                                    </div>
                                    <div class="input input-animate">
                                        <label for="body">Lời nhắn</label>
                                        <textarea name="body" id="message" required></textarea>
                                        <span class="spin"></span>
                                    </div>
                                    <div class="text-right">
                                        <button name="submit" type="submit" value="Submit" class="btn-half site-button m-b15">
                                            <span>Gửi</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="contact-info text-black m-b30">
                                <!-- TITLE START -->
                                <div class="section-head text-left">
                                    <h4 class="m-b5">Thông tin liên hệ</h4>
                                </div>
                                <!-- TITLE END -->
                                <div class="wt-icon-box-wraper left p-b40 icon-shake-outer">
                                    <div class="icon-xs">
                                        <i class="flaticon-smartphone  icon-shake"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Điện thoại</h5>
                                        <p>
                                            <a href="tel:0977141977">0977141977</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="wt-icon-box-wraper left p-b40 icon-shake-outer">
                                    <div class="icon-xs">
                                        <i class="flaticon-email  icon-shake"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Email</h5>
                                        <p>
                                            <a href="mailto:aciv.ceo@gmail.com">aciv.ceo@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="wt-icon-box-wraper left icon-shake-outer">
                                    <div class="icon-xs">
                                        <i class="flaticon-placeholder  icon-shake"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h5 class="m-t0 font-weight-500">Địa chỉ</h5>
                                        <p>
                                            <a href="https://www.google.com/maps/place/247+%C4%90%C6%B0%E1%BB%9Dng+Ho%C3%A0i+Thanh,+B%E1%BA%AFc+M%E1%BB%B9+An,+Ng%C5%A9+H%C3%A0nh+S%C6%A1n,+%C4%90%C3%A0+N%E1%BA%B5ng+550000,+Vi%E1%BB%87t+Nam/@16.0428142,108.2369984,17z/data=!3m1!4b1!4m5!3m4!1s0x31421761ca909f25:0x6003a0e122c046e5!8m2!3d16.0428091!4d108.2391871"
                                                target="_blank">247 - 249 Hoài Thanh - Quận Ngũ Hành Sơn - TP Đà Nẵng</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Search popup -->
                <div id="search">
                    <span class="close"></span>
                    <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                        <div class="input-group">
                            <input value="" name="q" type="search" placeholder="Type to search" />
                            <span class="input-group-btn">
                                <button type="button" class="search-btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>