<!-- JAVASCRIPT  FILES ========================================= -->
<script src="/js/jquery-1.12.4.min.js"></script>
<!-- JQUERY.MIN JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- BOOTSTRAP.MIN JS -->

<script src="/js/magnific-popup.min.js"></script>
<!-- MAGNIFIC-POPUP JS -->

<script src="/js/waypoints.min.js"></script>
<!-- WAYPOINTS JS -->
<script src="/js/counterup.min.js"></script>
<!-- COUNTERUP JS -->
<script src="/js/waypoints-sticky.min.js"></script>
<!-- COUNTERUP JS -->

<script src="/js/isotope.pkgd.min.js"></script>
<!-- MASONRY  -->

<script src="/js/owl.carousel.min.js"></script>
<!-- OWL  SLIDER  -->
<script src="/js/jquery.owl-filter.js"></script>

<script src="/js/stellar.min.js"></script>
<!-- PARALLAX BG IMAGE   -->

<script src="/js/custom.js"></script>
<!-- CUSTOM FUCTIONS  -->
<script src="/js/shortcode.js"></script>
<!-- SHORTCODE FUCTIONS  -->
<script src="/js/switcher.js"></script>
<!-- SHORTCODE FUCTIONS  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/vi.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>